.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-about-icon-awards {
    width: 100px;
    height: 100px;
    background-position: -5px -5px;
}

.sprite-about-icon-cjobs {
    width: 100px;
    height: 100px;
    background-position: -115px -5px;
}

.sprite-about-icon-happy {
    width: 100px;
    height: 100px;
    background-position: -225px -5px;
}

.sprite-about-icon-reviews {
    width: 100px;
    height: 100px;
    background-position: -335px -5px;
}
